
__pycache__/
*.py[cod]
*.so
.Python
env/
data/git
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
notebooks/
lib/
tests/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
test1.py
venv/
ENV/
requirements.txt
outputs/
logs/
data/


# IDE
.vscode/
.idea/

.DS_Store
Thumbs.db